*.pyc
__pycache__
make_noisy_circuit.py
_noise.py
x_alternating_XXmeas
x_ZX_interleaved_XXmeas
x_normal_XXmeas
z_alternating_XXmeas
z_ZX_interleaved_XXmeas
z_normal_XXmeas
z_normal_memory
z_normal_hook_proned_memory
z_alternating_memory
z_ZX_interleaved_Z2X_X2Z_memory
z_ZX_interleaved_Z2Z_X2X_memory
